.guest-homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.guest-homepage-main-b-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.guest-homepage-main-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #222222;
}
.guest-homepage-container01 {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #E7E6E6;
}
.guest-homepage-icon {
  fill: var(--dl-color-gray-500);
  width: 12px;
  height: 12px;
  margin-left: var(--dl-space-space-threeunits);
}
.guest-homepage-text {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  align-self: center;
  font-family: Noto Sans;
  margin-left: var(--dl-space-space-halfunit);
}
.guest-homepage-button {
  color: var(--dl-color-gray-500);
  display: flex;
  font-size: 13px;
  font-family: Noto Sans;
  margin-left: 550px;
  border-width: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  background-color: transparent;
}
.guest-homepage-icon02 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.guest-homepage-text001 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  margin-left: 5px;
}
.guest-homepage-text001:hover {
  color: #313131;
}
.guest-homepage-navlink {
  color: var(--dl-color-gray-500);
  display: flex;
  font-size: 12px;
  transition: 0.3s;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.guest-homepage-navlink:hover {
  color: #0C0C0C;
  background-color: transparent;
}
.guest-homepage-icon04 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
  margin-top: 0px;
}
.guest-homepage-text002 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  margin-left: 5px;
}
.guest-homepage-text002:hover {
  color: #313131;
}
.guest-homepage-navlink1 {
  display: flex;
  font-size: 12px;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.guest-homepage-icon06 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.guest-homepage-text003 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  margin-left: 5px;
}
.guest-homepage-text003:hover {
  color: #313131;
}
.guest-homepage-button01 {
  display: flex;
  font-size: 12px;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  background-color: transparent;
}
.guest-homepage-icon08 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.guest-homepage-navlink2 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.guest-homepage-navlink2:hover {
  color: #313131;
}
.guest-homepage-container02 {
  width: 100%;
  height: 113px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #F4F4F4;
}
.guest-homepage-navlink3 {
  display: contents;
}
.guest-homepage-image {
  width: 75px;
  cursor: pointer;
  height: 94px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.guest-homepage-navlink4 {
  display: contents;
}
.guest-homepage-logo-text-container {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  text-decoration: none;
}
.guest-homepage-text008 {
  color: #145DA0;
  width: 100%;
  font-size: 37px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  border-color: #70AD47;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.guest-homepage-text009 {
  color: #70AD47;
  font-size: 16px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-textinput {
  width: 45%;
  height: 45px;
  font-size: 12px;
  align-self: center;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
}
.guest-homepage-button02 {
  color: var(--dl-color-gray-white);
  width: 50px;
  cursor: pointer;
  height: 45px;
  display: flex;
  position: relative;
  align-self: center;
  border-width: 0px;
  flex-direction: row;
  background-color: #145DA0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.guest-homepage-icon10 {
  top: 13px;
  fill: var(--dl-color-gray-white);
  left: 16px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.guest-homepage-navlink5 {
  color: var(--dl-color-gray-white);
  width: 114px;
  cursor: pointer;
  height: 45px;
  display: flex;
  position: relative;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-icon12 {
  top: 11px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.guest-homepage-text010 {
  top: 15px;
  left: 52px;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.guest-homepage-container03 {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #70AD47;
}
.guest-homepage-navlink6 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  margin-left: 200px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.guest-homepage-navlink6:hover {
  background-color: #5a8c38;
}
.guest-homepage-text011 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text011:hover {
  background-color: #5a8c38;
}
.guest-homepage-text012 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text012:hover {
  background-color: #5a8c38;
}
.guest-homepage-text013 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text013:hover {
  background-color: #5a8c38;
}
.guest-homepage-text014 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text014:hover {
  background-color: #5a8c38;
}
.guest-homepage-text015 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text015:hover {
  background-color: #5a8c38;
}
.guest-homepage-text016 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text016:hover {
  background-color: #5a8c38;
}
.guest-homepage-text017 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text017:hover {
  background-color: #5a8c38;
}
.guest-homepage-resizable-container {
  width: 100%;
  height: 2148px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F4F4F4;
}
.guest-homepage-container04 {
  width: 1185px;
  height: 415px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/untitled%20design%20%5B1%5D-500h.png");
  background-position: center;
}
.guest-homepage-text018 {
  color: rgb(20, 93, 160);
  width: 100%;
  font-size: 48px;
  font-style: normal;
  margin-top: -60px;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: var(--dl-space-space-sixunits);
}
.guest-homepage-text022 {
  color: var(--dl-color-gray-white);
}
.guest-homepage-text024 {
  color: #145DA0;
  width: 100%;
  font-size: 18px;
  margin-top: var(--dl-space-space-unit);
  font-family: Source Sans Pro;
  font-weight: 400;
  margin-left: var(--dl-space-space-sixunits);
}
.guest-homepage-large-texts-container {
  width: 1185px;
  height: 283px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.guest-homepage-container05 {
  width: 100%;
  height: 119px;
  display: flex;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-text030 {
  color: rgb(20, 93, 160);
  width: 100%;
  font-size: 50px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Noto Sans;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.guest-homepage-text031 {
  color: #0C0C0C;
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Noto Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text033 {
  font-weight: 700;
}
.guest-homepage-text035 {
  font-weight: 700;
}
.guest-homepage-container06 {
  width: 100%;
  height: 39px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #145DA0;
}
.guest-homepage-text036 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 18px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Noto Sans;
  font-weight: 400;
}
.guest-homepage-text037 {
  font-style: normal;
  font-weight: 300;
}
.guest-homepage-text038 {
  font-style: normal;
  font-weight: 300;
}
.guest-homepage-text039 {
  font-style: normal;
}
.guest-homepage-text040 {
  font-style: normal;
  font-weight: 700;
}
.guest-homepage-text041 {
  font-style: normal;
}
.guest-homepage-text042 {
  font-weight: 300;
}
.guest-homepage-text043 {
  font-style: normal;
}
.guest-homepage-text044 {
  font-style: normal;
  font-weight: 700;
}
.guest-homepage-text045 {
  font-style: normal;
}
.guest-homepage-text046 {
  font-weight: 300;
}
.guest-homepage-container07 {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #a3d484;
}
.guest-homepage-text047 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Noto Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1.2px;
}
.guest-homepage-categories-pic-container {
  width: 1185px;
  height: 291px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.guest-homepage-container08 {
  flex: 0 0 auto;
  width: 372px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.guest-homepage-container09 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/1-400w.png");
  background-position: center;
}
.guest-homepage-text048 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.guest-homepage-text052 {
  color: #0e3e6b;
}
.guest-homepage-text053 {
  color: #0e3e6b;
}
.guest-homepage-text054 {
  color: #406228;
}
.guest-homepage-text056 {
  color: var(--dl-color-gray-white);
  font-size: 42px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.guest-homepage-text057 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.guest-homepage-container10 {
  flex: 0 0 auto;
  width: 31.5%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.guest-homepage-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/2-1500w.png");
  background-position: center;
}
.guest-homepage-text058 {
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.guest-homepage-text059 {
  color: var(--dl-color-gray-white);
}
.guest-homepage-text060 {
  color: var(--dl-color-gray-white);
}
.guest-homepage-text061 {
  color: var(--dl-color-gray-white);
}
.guest-homepage-text063 {
  color: #0e3e6b;
}
.guest-homepage-text064 {
  color: var(--dl-color-gray-white);
}
.guest-homepage-text065 {
  color: #406228;
}
.guest-homepage-text067 {
  color: var(--dl-color-gray-white);
  font-size: 42px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.guest-homepage-text072 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.guest-homepage-container12 {
  flex: 0 0 auto;
  width: 31.5%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.guest-homepage-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/playground_assets/3-1500w.png");
  background-position: center;
}
.guest-homepage-text073 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.guest-homepage-text076 {
  color: #0e3e6b;
}
.guest-homepage-text078 {
  color: #406228;
}
.guest-homepage-text080 {
  color: var(--dl-color-gray-white);
  font-size: 42px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.guest-homepage-text081 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.guest-homepage-container14 {
  width: 1188px;
  height: 55px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.guest-homepage-container15 {
  width: 183px;
  height: 55px;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  background-color: #145DA0;
}
.guest-homepage-image01 {
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
}
.guest-homepage-text082 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Noto Sans;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
}
.guest-homepage-text083 {
  color: var(--dl-color-primary-300);
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 940px;
}
.guest-homepage-container16 {
  width: 1185px;
  height: 422px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.guest-homepage-container17 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);

}
.guest-homepage-image02 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text084 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text085 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button03 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text086 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container18 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image03 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text089 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text090 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button04 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text091 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container19 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image04 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text094 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text095 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button05 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text096 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container20 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image05 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text099 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text100 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button06 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text101 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container21 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image06 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text104 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text105 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button07 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text106 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container22 {
  width: 1188px;
  height: 55px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-start;
}
.guest-homepage-container23 {
  width: 277px;
  height: 55px;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  background-color: #145DA0;
}
.guest-homepage-image07 {
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
}
.guest-homepage-text109 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Noto Sans;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  margin-right: 0px;
}
.guest-homepage-text110 {
  color: var(--dl-color-primary-300);
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 845px;
}
.guest-homepage-container24 {
  width: 1185px;
  height: 422px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.guest-homepage-container25 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image08 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text111 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text112 {
  color: rgb(20, 93, 160);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button08 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text113 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container26 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image09 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text116 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text117 {
  color: rgb(20, 93, 160);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button09 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text118 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container27 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image10 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text121 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text122 {
  color: rgb(20, 93, 160);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button10 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text123 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container28 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image11 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text126 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text127 {
  color: rgb(20, 93, 160);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button11 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text128 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-container29 {
  width: 232px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.guest-homepage-image12 {
  width: 155px;
  height: 220px;
  object-fit: cover;
}
.guest-homepage-text131 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text132 {
  color: rgb(20, 93, 160);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-button12 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.guest-homepage-text133 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.guest-homepage-footer {
  width: 100%;
  height: 270px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #E7E6E6;
}
.guest-homepage-container30 {
  width: 1239px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.guest-homepage-links-container {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
.guest-homepage-container31 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.guest-homepage-product-container {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}
.guest-homepage-text136 {
  color: #464646;
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.guest-homepage-container32 {
  flex: 0 0 auto;
  color: rgb(70, 70, 70);
  width: auto;
  cursor: pointer;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}

.guest-homepage-icon16 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text137 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text137:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container33 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon18 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text138 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text138:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container34 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon20 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text139 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text139:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container35 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon22 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text140 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text140:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container36 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon24 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text141 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text141:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-product-container1 {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}
.guest-homepage-text142 {
  color: rgb(70, 70, 70);
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.guest-homepage-container37 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-container37:hover {
  fill: rgb(70, 70, 70);
  color: rgb(70, 70, 70);
}
.guest-homepage-icon26 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text143 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text143:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container38 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}

.guest-homepage-icon28 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text144 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text144:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container39 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-container39:hover {
  fill: rgb(70, 70, 70);
  color: rgb(70, 70, 70);
}
.guest-homepage-icon30 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text145 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text145:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-product-container2 {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 8rem;
  flex-direction: column;
  justify-content: flex-start;
}
.guest-homepage-text146 {
  color: rgb(70, 70, 70);
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.guest-homepage-container40 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon32 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text147 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text147:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container41 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon34 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text148 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text148:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container42 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon36 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text149 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text149:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container43 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon38 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.guest-homepage-text150 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.guest-homepage-text150:hover {
  color: rgb(70, 70, 70);
}
.guest-homepage-container44 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.guest-homepage-container45 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon40 {
  fill: var(--dl-color-gray-500);
  width: 18px;
  height: 18px;
}
.guest-homepage-text151 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.guest-homepage-container46 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon42 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.guest-homepage-text152 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.guest-homepage-container47 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon44 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.guest-homepage-text153 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.guest-homepage-container48 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.guest-homepage-icon46 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.guest-homepage-text154 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.guest-homepage-footer1 {
  width: 1262px;
  height: 78px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #222222;
}
.guest-homepage-image13 {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.guest-homepage-logo-text-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: -328px;
  flex-direction: column;
}
.guest-homepage-text155 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 22px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.guest-homepage-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.guest-homepage-text156 {
  color: var(--dl-color-gray-white);
  font-size: 10px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.guest-homepage-text157 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  font-family: Source Sans Pro;
}
.guest-homepage-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.guest-homepage-icon48 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.guest-homepage-icon50 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.guest-homepage-icon52 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .guest-homepage-footer {
    flex-direction: column;
  }
  .guest-homepage-container31 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .guest-homepage-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .guest-homepage-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .guest-homepage-product-container2 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .guest-homepage-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guest-homepage-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .guest-homepage-container30 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .guest-homepage-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .guest-homepage-container31 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .guest-homepage-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .guest-homepage-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .guest-homepage-product-container2 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .guest-homepage-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .guest-homepage-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guest-homepage-text157 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .guest-homepage-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guest-homepage-footer {
    padding: var(--dl-space-space-unit);
  }
  .guest-homepage-container30 {
    align-items: center;
    flex-direction: column;
  }
  .guest-homepage-links-container {
    align-items: center;
    flex-direction: column;
  }
  .guest-homepage-container31 {
    margin-right: 0px;
  }
  .guest-homepage-footer1 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .guest-homepage-image13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .guest-homepage-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .guest-homepage-text157 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
