.reg-user-search-all-products-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.reg-user-search-all-products-main-b-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.reg-user-search-all-products-main-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #222222;
}
.reg-user-search-all-products-container01 {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #E7E6E6;
}
.reg-user-search-all-products-icon {
  fill: var(--dl-color-gray-500);
  width: 12px;
  height: 12px;
  margin-left: var(--dl-space-space-threeunits);
}
.reg-user-search-all-products-text {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  align-self: center;
  font-family: Noto Sans;
  margin-left: var(--dl-space-space-halfunit);
}
.reg-user-search-all-products-navlink {
  display: flex;
  font-size: 12px;
  font-family: Noto Sans;
  margin-left: 600px;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.reg-user-search-all-products-icon02 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.reg-user-search-all-products-text001 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
}
.reg-user-search-all-products-text001:hover {
  color: #313131;
}
.reg-user-search-all-products-navlink1 {
  display: flex;
  font-size: 12px;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.reg-user-search-all-products-icon04 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.reg-user-search-all-products-text004 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  margin-left: 5px;
}
.reg-user-search-all-products-text004:hover {
  color: #313131;
}
.reg-user-search-all-products-navlink2 {
  display: flex;
  font-size: 12px;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.reg-user-search-all-products-icon06 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.reg-user-search-all-products-text007 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
}
.reg-user-search-all-products-text007:hover {
  color: #313131;
}
.reg-user-search-all-products-navlink3 {
  display: flex;
  font-size: 12px;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.reg-user-search-all-products-text010 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}
.reg-user-search-all-products-container02 {
  width: 100%;
  height: 113px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #F4F4F4;
}
.reg-user-search-all-products-navlink4 {
  display: contents;
}
.reg-user-search-all-products-image {
  width: 75px;
  cursor: pointer;
  height: 94px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.reg-user-search-all-products-navlink5 {
  display: contents;
}
.reg-user-search-all-products-logo-text-container {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  text-decoration: none;
}
.reg-user-search-all-products-text013 {
  color: #145DA0;
  width: 100%;
  font-size: 37px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  border-color: #70AD47;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.reg-user-search-all-products-text014 {
  color: #70AD47;
  font-size: 16px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-textinput {
  width: 45%;
  height: 45px;
  font-size: 12px;
  align-self: center;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
}
.reg-user-search-all-products-button {
  color: var(--dl-color-gray-white);
  width: 50px;
  cursor: pointer;
  height: 45px;
  display: flex;
  position: relative;
  align-self: center;
  border-width: 0px;
  flex-direction: row;
  background-color: #145DA0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.reg-user-search-all-products-icon08 {
  top: 13px;
  fill: var(--dl-color-gray-white);
  left: 16px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.reg-user-search-all-products-navlink6 {
  color: var(--dl-color-gray-white);
  width: 114px;
  cursor: pointer;
  height: 45px;
  display: flex;
  position: relative;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-icon10 {
  top: 11px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.reg-user-search-all-products-text015 {
  top: 15px;
  left: 52px;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.reg-user-search-all-products-container03 {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #70AD47;
}
.reg-user-search-all-products-navlink7 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  margin-left: 200px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.reg-user-search-all-products-navlink7:hover {
  background-color: #5a8c38;
}
.reg-user-search-all-products-text016 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text016:hover {
  background-color: #5a8c38;
}
.reg-user-search-all-products-text017 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text017:hover {
  background-color: #5a8c38;
}
.reg-user-search-all-products-text018 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text018:hover {
  background-color: #5a8c38;
}
.reg-user-search-all-products-text019 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text019:hover {
  background-color: #5a8c38;
}
.reg-user-search-all-products-text020 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text020:hover {
  background-color: #5a8c38;
}
.reg-user-search-all-products-text021 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text021:hover {
  background-color: #5a8c38;
}
.reg-user-search-all-products-text022 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text022:hover {
  background-color: #5a8c38;
}
.reg-user-search-all-products-resizable-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-container04 {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-text023 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 400;
  margin-left: var(--dl-space-space-fiveunits);
}
.reg-user-search-all-products-text024 {
  color: rgb(20, 93, 160);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.reg-user-search-all-products-separator1 {
  flex: 0 0 auto;
  width: 89%;
  height: 0px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.reg-user-search-all-products-products-container {
  width: 100%;
  height: 1286px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.reg-user-search-all-products-container06 {
  width: 395px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.reg-user-search-all-products-text025 {
  color: rgb(20, 93, 160);
  width: 50%;
  font-size: 28px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: var(--dl-space-space-threeunits);
}
.reg-user-search-all-products-container07 {
  width: 305px;
  height: 174px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.reg-user-search-all-products-text026 {
  color: #414141;
  width: 50%;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.reg-user-search-all-products-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-text027 {
  color: var(--dl-color-gray-700);
  cursor: pointer;
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Source Sans Pro;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
}
.reg-user-search-all-products-text027:hover {
  color: #145DA0;
}
.reg-user-search-all-products-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-text028 {
  color: var(--dl-color-gray-700);
  cursor: pointer;
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Source Sans Pro;
  font-weight: 500;
  margin-left: var(--dl-space-space-twounits);
}
.reg-user-search-all-products-text028:hover {
  color: #145DA0;
}
.reg-user-search-all-products-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-text029 {
  color: var(--dl-color-gray-700);
  cursor: pointer;
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Source Sans Pro;
  font-weight: 400;
  margin-left: var(--dl-space-space-twounits);
}
.reg-user-search-all-products-text029:hover {
  color: #145DA0;
}
.reg-user-search-all-products-container11 {
  width: 305px;
  height: 177px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
}
.reg-user-search-all-products-text030 {
  color: rgb(65, 65, 65);
  width: 50%;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.reg-user-search-all-products-textinput1 {
  width: 235px;
  height: 37px;
  font-size: 12px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
}
.reg-user-search-all-products-button01 {
  color: var(--dl-color-gray-white);
  width: 235px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text031 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 400;
}
.reg-user-search-all-products-container12 {
  width: 305px;
  height: 203px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
}
.reg-user-search-all-products-text034 {
  color: rgb(65, 65, 65);
  width: 50%;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.reg-user-search-all-products-div {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.reg-user-search-all-products-container13 {
  width: 1005px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.reg-user-search-all-products-container14 {
  width: 876px;
  height: 390px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.reg-user-search-all-products-navlink8 {
  display: contents;
}
.reg-user-search-all-products-container15 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image01 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text035 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text036 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button02 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text037 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container16 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image02 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text040 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text041 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button03 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text042 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container17 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image03 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text045 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text046 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button04 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text047 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container18 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image04 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text050 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text051 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button05 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text052 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container19 {
  width: 876px;
  height: 390px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.reg-user-search-all-products-container20 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image05 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text055 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text056 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button06 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text057 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container21 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image06 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text060 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text061 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button07 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text062 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container22 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image07 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text065 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text066 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button08 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text067 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container23 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image08 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text070 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text071 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button09 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text072 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container24 {
  width: 876px;
  height: 390px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.reg-user-search-all-products-container25 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image09 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text075 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text076 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button10 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text077 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container26 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image10 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text080 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text081 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button11 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text082 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container27 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image11 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text085 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text086 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button12 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text087 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-container28 {
  width: 232px;
  height: 370px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.reg-user-search-all-products-image12 {
  width: 50%;
  height: 156px;
  object-fit: cover;
}
.reg-user-search-all-products-text090 {
  color: var(--dl-color-gray-500);
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text091 {
  color: #145DA0;
  width: 90%;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-button13 {
  color: var(--dl-color-gray-white);
  width: 133px;
  cursor: pointer;
  height: 33px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.reg-user-search-all-products-text092 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 500;
}
.reg-user-search-all-products-footer {
  width: 100%;
  height: 270px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #E7E6E6;
}
.reg-user-search-all-products-container29 {
  width: 1239px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.reg-user-search-all-products-links-container {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
.reg-user-search-all-products-container30 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.reg-user-search-all-products-product-container {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}
.reg-user-search-all-products-text095 {
  color: #464646;
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.reg-user-search-all-products-container31 {
  flex: 0 0 auto;
  color: rgb(70, 70, 70);
  width: auto;
  cursor: pointer;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}

.reg-user-search-all-products-icon14 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text096 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text096:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container32 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon16 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text097 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text097:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container33 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon18 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text098 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text098:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container34 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon20 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text099 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text099:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container35 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon22 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text100 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text100:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-product-container1 {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}
.reg-user-search-all-products-text101 {
  color: rgb(70, 70, 70);
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.reg-user-search-all-products-container36 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-container36:hover {
  fill: rgb(70, 70, 70);
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-icon24 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text102 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text102:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container37 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}

.reg-user-search-all-products-icon26 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text103 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text103:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container38 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-container38:hover {
  fill: rgb(70, 70, 70);
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-icon28 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text104 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text104:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-product-container2 {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 8rem;
  flex-direction: column;
  justify-content: flex-start;
}
.reg-user-search-all-products-text105 {
  color: rgb(70, 70, 70);
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.reg-user-search-all-products-container39 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon30 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text106 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text106:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container40 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon32 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text107 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text107:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container41 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon34 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text108 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text108:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container42 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon36 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text109 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.reg-user-search-all-products-text109:hover {
  color: rgb(70, 70, 70);
}
.reg-user-search-all-products-container43 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.reg-user-search-all-products-container44 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon38 {
  fill: var(--dl-color-gray-500);
  width: 18px;
  height: 18px;
}
.reg-user-search-all-products-text110 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.reg-user-search-all-products-container45 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon40 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.reg-user-search-all-products-text111 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.reg-user-search-all-products-container46 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon42 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.reg-user-search-all-products-text112 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.reg-user-search-all-products-container47 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.reg-user-search-all-products-icon44 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.reg-user-search-all-products-text113 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.reg-user-search-all-products-footer1 {
  width: 1262px;
  height: 78px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #222222;
}
.reg-user-search-all-products-image13 {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.reg-user-search-all-products-logo-text-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: -328px;
  flex-direction: column;
}
.reg-user-search-all-products-text114 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 22px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.reg-user-search-all-products-separator2 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.reg-user-search-all-products-text115 {
  color: var(--dl-color-gray-white);
  font-size: 10px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.reg-user-search-all-products-text116 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  font-family: Source Sans Pro;
}
.reg-user-search-all-products-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.reg-user-search-all-products-icon46 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.reg-user-search-all-products-icon48 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.reg-user-search-all-products-icon50 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .reg-user-search-all-products-footer {
    flex-direction: column;
  }
  .reg-user-search-all-products-container30 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .reg-user-search-all-products-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .reg-user-search-all-products-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .reg-user-search-all-products-product-container2 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .reg-user-search-all-products-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .reg-user-search-all-products-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .reg-user-search-all-products-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .reg-user-search-all-products-container29 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .reg-user-search-all-products-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .reg-user-search-all-products-container30 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .reg-user-search-all-products-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .reg-user-search-all-products-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .reg-user-search-all-products-product-container2 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .reg-user-search-all-products-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .reg-user-search-all-products-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .reg-user-search-all-products-text116 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .reg-user-search-all-products-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .reg-user-search-all-products-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .reg-user-search-all-products-footer {
    padding: var(--dl-space-space-unit);
  }
  .reg-user-search-all-products-container29 {
    align-items: center;
    flex-direction: column;
  }
  .reg-user-search-all-products-links-container {
    align-items: center;
    flex-direction: column;
  }
  .reg-user-search-all-products-container30 {
    margin-right: 0px;
  }
  .reg-user-search-all-products-footer1 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .reg-user-search-all-products-image13 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .reg-user-search-all-products-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .reg-user-search-all-products-text116 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
