.registration-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-main-b-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-main-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #222222;
}
.registration-container01 {
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #E7E6E6;
}
.registration-icon {
  fill: var(--dl-color-gray-500);
  width: 12px;
  height: 12px;
  margin-left: var(--dl-space-space-threeunits);
}
.registration-text {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  align-self: center;
  font-family: Noto Sans;
  margin-left: var(--dl-space-space-halfunit);
}
.registration-button {
  color: var(--dl-color-gray-500);
  display: flex;
  font-size: 13px;
  font-family: Noto Sans;
  margin-left: 550px;
  border-width: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  background-color: transparent;
}
.registration-icon02 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.registration-text01 {
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  margin-left: 5px;
}
.registration-text01:hover {
  color: #313131;
}
.registration-navlink {
  color: var(--dl-color-gray-500);
  display: flex;
  font-size: 12px;
  transition: 0.3s;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.registration-navlink:hover {
  color: #0C0C0C;
  background-color: transparent;
}
.registration-icon04 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
  margin-top: 0px;
}
.registration-text02 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  margin-left: 5px;
}
.registration-text02:hover {
  color: #313131;
}
.registration-navlink1 {
  display: flex;
  font-size: 12px;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.registration-icon06 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.registration-text03 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 12px;
  transition: 0.3s;
  margin-left: 5px;
}
.registration-text03:hover {
  color: #313131;
}
.registration-button1 {
  display: flex;
  font-size: 12px;
  font-family: Noto Sans;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  background-color: transparent;
}
.registration-icon08 {
  fill: var(--dl-color-gray-500);
  width: 14px;
  height: 14px;
}
.registration-text06 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
}
.registration-text06:hover {
  color: #313131;
}
.registration-container02 {
  width: 100%;
  height: 113px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #F4F4F4;
}
.registration-navlink2 {
  display: contents;
}
.registration-image {
  width: 75px;
  cursor: pointer;
  height: 94px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.registration-navlink3 {
  display: contents;
}
.registration-logo-text-container {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  text-decoration: none;
}
.registration-text09 {
  color: #145DA0;
  width: 100%;
  font-size: 37px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.registration-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  border-color: #70AD47;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.registration-text10 {
  color: #70AD47;
  font-size: 16px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.registration-textinput {
  width: 45%;
  height: 45px;
  font-size: 12px;
  align-self: center;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
}
.registration-button2 {
  color: var(--dl-color-gray-white);
  width: 50px;
  cursor: pointer;
  height: 45px;
  display: flex;
  position: relative;
  align-self: center;
  border-width: 0px;
  flex-direction: row;
  background-color: #145DA0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-icon10 {
  top: 13px;
  fill: var(--dl-color-gray-white);
  left: 16px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.registration-navlink4 {
  color: var(--dl-color-gray-white);
  width: 114px;
  cursor: pointer;
  height: 45px;
  display: flex;
  position: relative;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #145DA0 ;
}
.registration-icon12 {
  top: 11px;
  fill: var(--dl-color-gray-white);
  left: 15px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.registration-text11 {
  top: 15px;
  left: 52px;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.registration-container03 {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #70AD47;
}
.registration-navlink5 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  margin-left: 200px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.registration-navlink5:hover {
  background-color: #5a8c38;
}
.registration-text12 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.registration-text12:hover {
  background-color: #5a8c38;
}
.registration-text13 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.registration-text13:hover {
  background-color: #5a8c38;
}
.registration-text14 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.registration-text14:hover {
  background-color: #5a8c38;
}
.registration-text15 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.registration-text15:hover {
  background-color: #5a8c38;
}
.registration-text16 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.registration-text16:hover {
  background-color: #5a8c38;
}
.registration-text17 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.registration-text17:hover {
  background-color: #5a8c38;
}
.registration-text18 {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  padding: 18px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.registration-text18:hover {
  background-color: #5a8c38;
}
.registration-container04 {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F4F4F4;
}
.registration-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-text19 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 400;
  margin-left: var(--dl-space-space-fiveunits);
}
.registration-text20 {
  color: rgb(20, 93, 160);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
}
.registration-separator1 {
  flex: 0 0 auto;
  width: 89%;
  height: 0px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.registration-container06 {
  width: 100%;
  height: 1221px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F4F4F4;
}
.registration-white-container {
  width: 1185px;
  height: 1108px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.registration-container07 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registration-text21 {
  color: rgb(45, 45, 45);
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: var(--dl-space-space-threeunits);
}
.registration-separator2 {
  flex: 0 0 auto;
  width: 84%;
  height: 0px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  border-color: #145DA0;
  border-style: solid;
  border-width: 1.5px;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.registration-text22 {
  color: var(--dl-color-gray-500);
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: Source Sans Pro;
  font-weight: 400;
  margin-left: var(--dl-space-space-threeunits);
}
.registration-text23 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 12px;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1.6;
  margin-left: var(--dl-space-space-threeunits);
}
.registration-container08 {
  width: 714px;
  height: 640px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  border-color: #F2F2F2;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
.registration-text27 {
  color: rgb(45, 45, 45);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 52px;
}
.registration-textinput1 {
  width: 300px;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
  background-color: #F4F4F4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-text28 {
  color: rgb(45, 45, 45);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 52px;
}
.registration-text29 {
  color: rgb(45, 45, 45);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 300px;
}
.registration-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-textinput2 {
  width: 300px;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
  background-color: #F4F4F4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-textinput3 {
  width: 295px;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-threeunits);
  background-color: #F4F4F4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-text30 {
  color: rgb(45, 45, 45);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 52px;
}
.registration-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-textinput4 {
  width: 68%;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
  background-color: #F4F4F4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-button3 {
  color: var(--dl-color-gray-white);
  width: 112px;
  cursor: pointer;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.registration-text31 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 400;
}
.registration-text34 {
  color: rgb(45, 45, 45);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 52px;
}
.registration-container12 {
  width: auto;
  height: 47px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-textinput5 {
  width: 257px;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
  background-color: #F4F4F4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-text35 {
  color: var(--dl-color-gray-700);
  width: 48%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
}
.registration-text36 {
  color: rgb(45, 45, 45);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 52px;
}
.registration-textinput6 {
  width: 86%;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
  background-color: #F4F4F4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-text37 {
  color: rgb(45, 45, 45);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 52px;
}
.registration-textinput7 {
  width: 86%;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
  background-color: #F4F4F4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-text38 {
  color: rgb(45, 45, 45);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-left: 52px;
}
.registration-textinput8 {
  width: 86%;
  height: 40px;
  font-size: 14px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-threeunits);
  border-width: 0px;
  background-color: #F4F4F4 ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.registration-text39 {
  color: var(--dl-color-gray-500);
  width: 60%;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 1.6;
}
.registration-container13 {
  width: 712px;
  height: 48px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-button4 {
  color: var(--dl-color-gray-white);
  width: 350px;
  cursor: pointer;
  height: 42px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #145DA0 ;
}
.registration-text40 {
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 400;
}
.registration-button5 {
  color: var(--dl-color-gray-white);
  width: 350px;
  cursor: pointer;
  height: 42px;
  font-size: 14px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background-color: #F5F5F5;
}
.registration-text43 {
  color: #145DA0;
  font-size: 14px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 400;
}
.registration-footer {
  width: 100%;
  height: 270px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #E7E6E6;
}
.registration-container14 {
  width: 1239px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.registration-links-container {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
.registration-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.registration-product-container {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-text46 {
  color: #464646;
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.registration-container16 {
  flex: 0 0 auto;
  color: rgb(70, 70, 70);
  width: auto;
  cursor: pointer;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}

.registration-icon16 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text47 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text47:hover {
  color: rgb(70, 70, 70);
}
.registration-container17 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon18 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text48 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text48:hover {
  color: rgb(70, 70, 70);
}
.registration-container18 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon20 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text49 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text49:hover {
  color: rgb(70, 70, 70);
}
.registration-container19 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon22 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text50 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text50:hover {
  color: rgb(70, 70, 70);
}
.registration-container20 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon24 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text51 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text51:hover {
  color: rgb(70, 70, 70);
}
.registration-product-container1 {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-text52 {
  color: rgb(70, 70, 70);
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.registration-container21 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-container21:hover {
  fill: rgb(70, 70, 70);
  color: rgb(70, 70, 70);
}
.registration-icon26 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text53 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text53:hover {
  color: rgb(70, 70, 70);
}
.registration-container22 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}

.registration-icon28 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text54 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text54:hover {
  color: rgb(70, 70, 70);
}
.registration-container23 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-container23:hover {
  fill: rgb(70, 70, 70);
  color: rgb(70, 70, 70);
}
.registration-icon30 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text55 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text55:hover {
  color: rgb(70, 70, 70);
}
.registration-product-container2 {
  width: 206px;
  display: flex;
  align-items: flex-start;
  margin-right: 8rem;
  flex-direction: column;
  justify-content: flex-start;
}
.registration-text56 {
  color: rgb(70, 70, 70);
  font-size: 20px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.registration-container24 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon32 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text57 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text57:hover {
  color: rgb(70, 70, 70);
}
.registration-container25 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon34 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text58 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text58:hover {
  color: rgb(70, 70, 70);
}
.registration-container26 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon36 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text59 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text59:hover {
  color: rgb(70, 70, 70);
}
.registration-container27 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon38 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.registration-text60 {
  color: var(--dl-color-gray-500);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.registration-text60:hover {
  color: rgb(70, 70, 70);
}
.registration-container28 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.registration-container29 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon40 {
  fill: var(--dl-color-gray-500);
  width: 18px;
  height: 18px;
}
.registration-text61 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.registration-container30 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon42 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.registration-text62 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.registration-container31 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon44 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.registration-text63 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.registration-container32 {
  flex: 0 0 auto;
  width: auto;
  height: 18px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.registration-icon46 {
  fill: var(--dl-color-gray-500);
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.registration-text64 {
  color: var(--dl-color-gray-500);
  font-size: 14px;
  font-family: Source Sans Pro;
  margin-left: var(--dl-space-space-halfunit);
}
.registration-footer1 {
  width: 1262px;
  height: 78px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #222222;
}
.registration-image1 {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.registration-logo-text-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: -328px;
  flex-direction: column;
}
.registration-text65 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 22px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.registration-separator3 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-white);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.registration-text66 {
  color: var(--dl-color-gray-white);
  font-size: 10px;
  font-style: normal;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.registration-text67 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  font-family: Source Sans Pro;
}
.registration-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.registration-icon48 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-icon50 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.registration-icon52 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .registration-footer {
    flex-direction: column;
  }
  .registration-container15 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-product-container2 {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .registration-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .registration-container14 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .registration-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .registration-container15 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-product-container1 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-product-container2 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .registration-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .registration-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-text67 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .registration-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-footer {
    padding: var(--dl-space-space-unit);
  }
  .registration-container14 {
    align-items: center;
    flex-direction: column;
  }
  .registration-links-container {
    align-items: center;
    flex-direction: column;
  }
  .registration-container15 {
    margin-right: 0px;
  }
  .registration-footer1 {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .registration-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .registration-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .registration-text67 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
